html, body {
	padding: 0;
	margin: 0;
	background: #eee;
	font-family: 'Personality', 'Arial';
	letter-spacing: 1px;
}
h1 {
	font-size: 40px;
	letter-spacing: 4px;
	position: absolute;
	top: 125px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2
}
section {
	padding: 50px 20%;
	text-align: center;
	position: relative;
}

#header-section {
	overflow:hidden;
	height:250px;
}

#header-section img {
	position:absolute;
	top: -250px;
	left: 0;
	width: 100%;
	opacity: .8;
}

#overlay {
	background: pink;
	opacity: .05;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.strong {
	font-weight: bold;
}

#content-section {
	background: #541d87;
	color: white;
	font-family: 'Arial';
}

textarea {
	height:100px;
	width:250px;
}

form {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

form * {
	margin-bottom: 10px;
	width: 100%;
}

button {
	padding: 8px; color:red;
}







